<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/music_style.css" type="text/css" />
		<title>Create a Playlist</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./assets/js/music.js"></script>
	</head>
	<body>
		{{{ body }}}
        <div>
            <img src="#">
        </div>
	</body>
</html>