li {
    padding: 5px;
    margin: 5px;
    background: gold;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

button {
  align-items: center;
  box-shadow: 3px 4px blue;
}


body{
background-color: crimson;
}


h2 {
  text-align: center;
}
.box {
border: 2px white;
color: rgb(16, 46, 214);
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
}

.submit {
  height:40px; 
  width:100px; 
  margin: -30px -80px; 
  position:relative;
  top:50%; 
  left:50%;
}