body {
  background-color: black !important;
}

li {
    padding: 5px;
    margin: 5px;
    background: rgb(228, 220, 220);
  }
  

  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

button {
  align-items: center;
  box-shadow: 3px 4px black;
}

h2 {
  text-align: center;
  color: black
}

h3 {
  text-align: center;
  color: black
}

.song {
  text-align: center;
  color: black;
}
.box {
border: 2px grey;
color: black;
background-color: #9f99a0;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
  border: 7px solid grey !important;
}

.card-body {
  background-color: rgb(107, 102, 114);
}

.submit {
  height:40px; 
  width:100px; 
  margin: -30px -80px; 
  position:relative;
  top:50%; 
  left:50%;
}

.delete-song {
  background-color: rgb(230, 36, 101);
}

.change-playlist {
  background-color: rgb(107, 228, 201);
}